@import '../../../scss/_color.scss';
@import '../../../scss/_mixins.scss';

.sucess-message{
    width: 310px;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: $secondary;
    color: $white;
    z-index: 1000;
    font-size: 18px;
}

.sucess-message.open{
    display: flex;
}

.contact{
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 100px 0 50px 0;
    .title{
        @include titleMobile;
    }

    .content{

        .responsive-footer{
            display: none;
        }

        form{
            @include displayFlex($fd:column, $jc:center);
            align-items: center;
            max-width: 600px;
            height: 650px;
            input[type=text], input[type=email]{
                width: 100%;
                height: 50px;
                padding: 20px;
                margin: 10px;
                border-radius: 30px;
                border: none;
                outline: none;
                background-color: transparent;
                outline: $primary;
                border: $primary 2px solid;
                color: $white;
                &:focus{
                    color: $white;
                    font-size: 18px;
                }
            }

            textarea{
                width: 100%;
                height: 200px;
                resize: none;
                padding: 20px;
                margin: 10px;
                border-radius: 30px;
                border: none;
                outline: none;
                background-color: transparent;
                outline: $primary;
                border: $primary 2px solid;
                color: $white;

                &:focus{
                    color: $white;
                    font-size: 18px;
                }
                &::-webkit-scrollbar {
                    width: 10px;
                    margin-right: 10px;
                }

                &::-webkit-scrollbar-track {
                    background: #222;
                    border-radius: 10px;
                }

                &::-webkit-scrollbar-thumb {
                    background: #ccff00;
                    border-radius: 10px;
                }

                &::-webkit-scrollbar-thumb:hover {
                    background: #e6ff4d;
                }

                &{
                    scrollbar-width: thin;            
                    scrollbar-color: #ccff00 #222;
                }
            }

            .check-policy{
                font-size: 18px;
                color: $primary;
                padding: 20px;
                a{
                    color: $white;
                    text-decoration: none;
                }

                .neon-checkbox {
                    display: inline-block;
                    position: relative;
                    cursor: pointer;
                }

                .neon-checkbox input {
                    opacity: 0;
                    width: 0;
                    height: 0;
                }

                .neon-checkbox .checkmark {
                    width: 18px;
                    height: 18px;
                    border: 3px solid $primary;
                    border-radius: 3px;
                    display: inline-block;
                    position: relative;
                    transition: 0.3s;
                }

                .neon-checkbox .checkmark::after {
                    content: "";
                    position: absolute;
                    left: 2px;
                    top: -2px;
                    width: 6px;
                    height: 12px;
                    border-right: 3px solid $primary;
                    border-bottom: 3px solid $primary;
                    transform: rotate(45deg);
                    opacity: 0;
                    transition: 0.3s;
                }
                .neon-checkbox input:checked + .checkmark::after {
                    opacity: 1;
                }
            }

            .form-btn{
                width: 100%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                button{
                    width: 100px;
                    height: 50px;
                    border-radius: 60px;
                    border: none;
                    outline: none;
                    cursor: pointer;
                }
                .desabled{
                    background-color: $secondary;
                }
                .active{
                    font-size: 20px;
                    color: $white;
                    background-color: $primary;
                    
                }
            } 
        }

        .contact-info{
            width: 500px;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 50px;
            font-size: 18px;
            color: $white;
            h4{
                color: $primary;
            }
            .link{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                p{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 10px;
                    img{
                        height: 20px;
                        &:hover {
                            color: $primary;
                        }
                    }
                }
                a{
                    text-decoration: none;
                    color:$white;
                    &:hover {
                        color: $primary;
                    }
                }
            }
            
        }

    }

    .up-start{
        img{
            content: url('https://rucel-tsafack.com/assets_icons/arrow_up.png');
        }
        cursor: pointer;
    }
}

.error{
    text-align: start;
    color: $red;
    font-size: 16px;
    height: 40px;
}


.outline-error{
    outline: $red !important;
    border: $red 2px solid !important;
    &::placeholder{
        color: $red;
    }
}


@media(min-width: 1501px)  {
    .contact{
        position: relative;
        display: flex;
        justify-content: center !important;
        align-items: center !important;
        flex-direction: row !important;
        padding-left:0px;
        padding-top: 50px;
        width: 100vw;
        height: 100vh;
        scroll-snap-align: start;
        overflow-y: hidden;
        .title{
            position: absolute;
            @include title();
            top: 60%;
            left: 100px;
        }
        .local-footer{
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            width: 100px;
            height: 100vh;
            content: '';
        }
        .responsive-link-up{
            display: none !important;
        }
        form{
            padding: 20px;
            margin-right: 300px;
        }
        .content{
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            .contact-info{
                position: absolute;
                right: 7%;
                display: flex;
                align-items: flex-end;
                justify-content: space-evenly;
                gap: 50px;
                .top{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                }

                p, h4{
                    text-align: end;
                }
                .link{
                    align-items: flex-end;
                    justify-content: center;
                }
                .bottom{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    gap: 10px;
                    p{
                        text-align: end;
                        a{
                            text-align: end;
                            text-decoration: none;
                            color:$white;
                            &:hover {
                                color: $primary;
                            }   
                        }
                    }
                }

            }
        }
        .up-start{
            img{
                content: url('https://rucel-tsafack.com/assets_icons/arrow_left.png');
            }
        }
    }
    ::-webkit-scrollbar {
    width: 10px;
    display: none;
  }

  ::-webkit-scrollbar-track {
    background: #222;
    border-radius: 10px;
    display: none;
  }

  ::-webkit-scrollbar-thumb {
    background: #ccff00;
    border-radius: 10px;
    display: none;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #e6ff4d;
    display: none;
  }

}


@media (min-width: 966px) and (max-width: 1500px){
    .footer{
        display: none !important;
    }
}

@media (max-width: 965px) {
    .contact{  
        @include displayFlex($fd:column);
        align-items: flex-start ;
        width: 100vw !important;
        padding: 400px 20px 0 20px;
        .content{
            @include displayFlex($fd:column-reverse);
            gap: 20px;
            width: 100%;
            form{
                width: 100%;
                input[type=text], input[type=email], textarea{
                    width: 100%;
                    margin: 10px 0;
                }
            }
            .contact-info{
                width: 100%;
                display: flex;
                align-items: flex-start;
                padding: 20px;
                .top{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                }
                .link{
                    align-items: flex-start;
                }
            }
        }
        .bottom{
            display: none !important;
        }
        .responsive-link-up{
            display: flex !important;
            width: 100%;
            display: flex;
            align-items: center;
            text-align: center;
            flex-direction: column;
            gap: 20px;
            padding: 30px;
            >*{
                padding: 20px;
            }
        }
        .mobile-off{
            display: none !important;
        }
        .up-start{
            @include displayFlex($fd:column);
            align-items: center;
            width: 100%;
            height: 50px;
            padding: 0px;
            margin: 0;
        }
        .local-footer{
            display: none !important;
        }
    }
}