@import '../../../scss/_color.scss';
@import '../../../scss/_mixins.scss';

.contact{
    position: relative;
    display: flex;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 100px 0;
    .title{
        @include titleMobile;
    }

    .content{
        @include displayFlex($fd:column, $jc:space-between);
        align-items: center;

        form{
            @include displayFlex($fd:column, $jc:center);
            align-items: center;
            width: 600px;
            height: 600px;
            input[type=text], input[type=email]{
                width: 100%;
                height: 50px;
                padding: 20px;
                margin: 10px;
                border-radius: 30px;
                border: none;
                outline: none;
                background-color: transparent;
                outline: $primary;
                border: $primary 2px solid;
                &:focus{
                    color: $white;
                    font-size: 18px;
                }
            }

            textarea{
                width: 100%;
                height: 200px;
                resize: none;
                padding: 20px;
                margin: 10px;
                border-radius: 30px;
                border: none;
                outline: none;
                background-color: transparent;
                outline: $primary;
                border: $primary 2px solid;

                &:focus{
                    color: $white;
                    font-size: 18px;
                }
                &::-webkit-scrollbar {
                    width: 10px;
                    margin-right: 10px;
                }

                &::-webkit-scrollbar-track {
                    background: #222;
                    border-radius: 10px;
                }

                &::-webkit-scrollbar-thumb {
                    background: #ccff00;
                    border-radius: 10px;
                }

                &::-webkit-scrollbar-thumb:hover {
                    background: #e6ff4d;
                }

                &{
                    scrollbar-width: thin;            
                    scrollbar-color: #ccff00 #222;
                }
            }

            .check-policy{
                font-size: 18px;
                color: $primary;
                padding: 20px;
                a{
                    color: $white;
                    text-decoration: none;
                }

                .neon-checkbox {
                    display: inline-block;
                    position: relative;
                    cursor: pointer;
                }

                .neon-checkbox input {
                    opacity: 0;
                    width: 0;
                    height: 0;
                }

                .neon-checkbox .checkmark {
                    width: 18px;
                    height: 18px;
                    border: 3px solid $primary;
                    border-radius: 3px;
                    display: inline-block;
                    position: relative;
                    transition: 0.3s;
                }

                .neon-checkbox .checkmark::after {
                    content: "";
                    position: absolute;
                    left: 2px;
                    top: -2px;
                    width: 6px;
                    height: 12px;
                    border-right: 3px solid $primary;
                    border-bottom: 3px solid $primary;
                    transform: rotate(45deg);
                    opacity: 0;
                    transition: 0.3s;
                }

                .neon-checkbox input:checked + .checkmark::after {
                    opacity: 1;
                }
            }

            .form-btn{
                width: 100%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                
                button{
                    width: 100px;
                    height: 50px;
                    border-radius: 60px;
                    border: none;
                    outline: none;
                }
                .desabled{
                    background-color: $secondary;
                }

                .active{
                    font-size: 20px;
                    color: $white;
                    background-color: $primary;
                }


            }
            
            
        }

        .contact-info{
            width: 500px;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            font-size: 18px;
            padding: 20px 0;
            color: $white;
            h4{
                color: $primary;
            }
            .link{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                p{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 10px;
                    img{
                        height: 20px;
                    }
                }
                a{
                    text-decoration: none;
                    color:$white;
                }
            }
            
        }

    }

    .up-start{
        img{
            content: url('https://rucel-tsafack.com/assets_icons/arrow_up.png');
        }
       height: 60px;
       margin: 20px 0 50px 0;
    }
}

.error{
    color: $red;
}

.outline-error{
    outline: $red !important;
    border: $red 3px solid !important;
    &::placeholder{
        color: $red;
    }
}