<div class="contact" >
    <div class="title">
        <h2>Contact me</h2>
    </div>
    <div class="content" id="contact">
        <form [formGroup]="submitForm" (ngSubmit)="onSubmit()">
            <input type="text" 
                tabindex="0"
                id="name"
            [placeholder]="showError('name') ? 'Your Name is required' : 'Your Name' " 
                formControlName="name" 
                [class.outline-error]="isInvalid('name')" 
                autocomplete="name"
            >

            <input type="email" 
            tabindex="0"
                id="email"
                [placeholder]="
                    showError('email', 'required')
                    ? 'Email is required'
                    : showError('email', 'email')
                    ? 'Enter a valid email address'
                    : 'Your email'
                "
                formControlName="email" 
                [class.outline-error]="isInvalid('email')" 
                autocomplete ="email"
            >

            <textarea  
            tabindex="0"
                id="message"
                [placeholder]="showError('message') ? 'Your message is required' : 'Your message'"
                formControlName="message" 
                [class.outline-error]="isInvalid('message')" 
            >

            
            </textarea>

            <div class="check-policy">
                <label class="neon-checkbox" >
                    <input type="checkbox" 
                        formControlName="agree"
                        id="agree"
                    >
                    <span class="checkmark" [class.outline-error]="isInvalid('agree')" tabindex="0"></span>
                </label>
                I've read the <a routerLink="/privacy-policy">pricacy policy </a> and agree to the processing of my data as outlined.
                @if(showError('agree')){
                    <p class="error">Please accept the privacy policy.</p>
                }
            </div>
            <div class="sucess-message" [class.open]="submitting">
                Thanks, your message has been sent.
            </div>
            <div class="form-btn">
                <button tabindex="0" type="submit" [disabled]="submitForm.invalid" [class.disabled]="submitForm.invalid" >Send</button>
            </div>
        </form>
        
        <div class="contact-info">
            <div class="top">
                <h4>Let us work together.</h4>
                <p>
                    Encourage people to contact you and describe what role you are interested in. 
                    Express confidence in your ability to make a meaningful contribution to a team through your expertise and enthusiasm for improving your skills.
                </p>
                <div class="link">
                    <p>
                        <img src="https://rucel-tsafack.com/assets_icons/email_link.png" alt="">
                        <a href="mailto:contact@rucel-tsafack.com"> contact@rucel-tsafack.com</a>
                    </p>
                    <p>
                        <img src="https://rucel-tsafack.com/assets_icons/phone_call.png" alt="">
                        <a href="tel:+4915563633814"> +49 15563633814</a>
                    </p>
                </div>
            </div>
            <app-button navigateTo="#landing" class="up-start"> <img src="https://rucel-tsafack.com/assets_icons/arrow_left.png" alt="" srcset=""> </app-button>
            <div class="bottom">
                <p>
                    <a routerLink="privacy-policy"> privacy policy</a>
                </p>
                <p>
                    <a routerLink="legal-notice"> legal notice</a>
                </p>
                <p class="copyright"> &copy; Rucel Tsafack 2025 </p>
            </div>
        </div>
    </div>
    <div class="responsive-link-up">
        <app-button navigateTo="#landing" class="up-start"> <img src="https://rucel-tsafack.com/assets_icons/arrow_up.png" alt="" srcset=""> </app-button>
        <app-socials></app-socials>
    </div>
    <div class="local-footer">
        <app-footer class="footer"></app-footer>
    </div>
</div>