<div class="contact" id="contact">
    <div class="title">
        <h2>Contact me</h2>
    </div>
    <div class="content">
        <form [formGroup]="submitForm" (ngSubmit)="onSubmit()">
            <input type="text" 
                tabindex="0"
                id="name"
                placeholder="Ihre Name" 
                formControlName="name" 
                [class.outline-error]="isInvalid('name')" 
                autocomplete="name"
            >

            <p class="error">
                @if(showError('name')){
                    Ihre Name kann zB. Max Musterman.
                }@else if(isInvalid('name')){
                    Ihre Name muss min 3 Charakter sein.
                }
            </p>
            <input type="email" 
                tabindex="0"
                id="email"
                placeholder="Ihre Email Adresse"
                formControlName="email" 
                [class.outline-error]="isInvalid('email')" 
                autocomplete ="email"
            >
            <p class="error">
                @if(showError('email', 'required')){
                    Ihre Email muss angegeben werden
                }@else if(showError('email', 'email') || isInvalid('email')){
                    Ihre Email kann zB. max.musterman@gmx.de
                }
            </p>
            
            <textarea  
            tabindex="0"
            id="message"
            placeholder="Ihre Nachricht"
            formControlName="message" 
            [class.outline-error]="isInvalid('message')" 
            >
        
            </textarea>
            <p class="error">
                @if(isInvalid('message') || showError('message')){
                    Ihre Nachricht ist zu kurz,um berücksichtigt  zu werden.
                }
            </p>

            <div class="check-policy">
                <label class="neon-checkbox" >
                    <input type="checkbox" 
                        formControlName="agree"
                        id="agree"
                    >
                    <span class="checkmark" [class.outline-error]="isInvalid('agree')" tabindex="0"></span>
                </label>
                Ich Habe die <a routerLink="/privacy-policy">Datenschutzrechlinie </a> gelesen und stimme der Verarbeitung meiner Daten wie beschreiben zu.
                <p class="error"> 
                    @if(showError('agree')){
                        Bitte akzeptieren Sie die Datenschutzbestimmungen.
                    }
                </p>
            </div>
            <div class="sucess-message" [class.open]="submitting">
                Vielen Dank für Ihre Nachricht.
            </div>
            <div class="form-btn">
                <button tabindex="0" type="submit" [disabled]="submitForm.invalid" [class.disabled]="submitForm.invalid" >Send</button>
            </div>
        </form>
        
        <div class="contact-info">
            <div class="top">
                <h4>Lasst uns zusammenarbeiten</h4>
                <p>
                    Möchten sie ihre Firma digitalisieren oder Eine Anwendung für ihre Bussiness?
                    Sie haben spannende Projekte und brauchen Unterstützung?
                    Ich freue mich wenn Sie Kontakt zu mir aufnehmen!
                </p>
                <div class="link">
                    <p>
                        <img src="https://rucel-tsafack.com/assets_icons/email_link.png" alt="">
                        <a href="mailto:contact@rucel-tsafack.com"> contact@rucel-tsafack.com</a>
                    </p>
                    <p>
                        <img src="https://rucel-tsafack.com/assets_icons/phone_call.png" alt="">
                        <a href="tel:+4915563633814"> +49 15563633814</a>
                    </p>
                </div>
            </div>
            <app-button navigateTo="#landing" class="up-start mobile-off"> <img src="https://rucel-tsafack.com/assets_icons/arrow_left.png" alt="" srcset=""> </app-button>
            <div class="bottom">
                <p>
                    <a routerLink="privacy-policy"> {{'footer.privacy' | translate }}</a>
                </p>
                <p>
                    <a routerLink="legal-notice"> {{'footer.legacy' | translate }}</a>
                </p>
                <p class="copyright"> &copy; Rucel Tsafack 2025 </p>
            </div>
        </div>
    </div>
    <div class="responsive-link-up">
        <app-button navigateTo="#landing" class="up-start"> <img src="https://rucel-tsafack.com/assets_icons/arrow_up.png" alt="" srcset=""> </app-button>
        <app-socials class="social-links"></app-socials>
    </div>
    <div class="local-footer">
        <app-footer class="footer"></app-footer>
    </div>
</div>