@import '../../../scss/_color.scss';
@import '../../../scss/_mixins.scss';


@media(min-width: 965px) and (max-width: 1500px) {
    .contact{
        position: relative;
        display: flex;
        justify-content: start !important;
        align-items: center !important;
        flex-direction: column !important;
        padding: 30px 0;
        padding-top: 50px;
        width: calc(100vw - 70px);
        margin-left: 60px;
        height: auto;
        scroll-snap-align: start;
        overflow-y: hidden;
        
        .title{
            @include titleMobile();
        }

        .local-footer{
            display: none;
        }

        .responsive-link-up{
            display: none !important;
        }

        form{
            padding: 30px;
        }

        .content{
            display: flex;
            flex-direction: column-reverse;
            justify-content: start;
            align-items: center;
            align-content: center;
            .contact-info{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0px;
                .top{
                    display: flex;
                    flex-direction: column;
                    align-items: center !important;
                    gap: 20px;
                    .position{
                        width: 75%;
                        text-align: center !important;
                    }
                    p{
                        width: 100%;
                        text-align: center !important;
                        padding: 10px;
                    }
                }
                .link{
                    align-items: flex-start !important;
                }
            }

            .contact-info{
                gap: 50px;
                .top{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                }

                p, h4{
                    text-align: end;
                }
                .link{
                    align-items: flex-end;
                    justify-content: center;
                }

                .bottom{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    gap: 10px;
                    p{
                        text-align: end;
                        a{
                            text-align: end;
                            text-decoration: none;
                            color:$white;
                            &:hover {
                                color: $primary;
                            }   
                        }
                    }
                }

            }
        }

        .social-links{
            display: none !important;
        }

        .responsive-link-up{
            display: flex !important;
            align-items: center;
            text-align: center;
            flex-direction: column;
            gap: 20px;
            >*{
                padding: 30px;
            }
        }

        .bottom{
            display: none !important;
        }

        .mobile-off{
            display: none !important;
        }


        .local-footer{
            display: none !important;
        }

    }

}



@media (max-width: 600px){
    .title{
        font-size: 32px !important;
    }
}
