@import '../../../scss/_color.scss';
@import '../../../scss/_mixins.scss';

.about-me{
    @include displayFlex($fd:column);
    align-items: center;
    width: 100%;
    padding: 100px 0 50px 0;
    .title{
        @include titleMobile();
    }

    .about-me-content{
        @include displayFlex($fd:column);
        align-items: center;
        color: $white;

        h4{
            text-align: center;
            font-size: 30px;
            color: $primary;
            padding: 10px;
        }

        .icons{
            @include displayFlex($fd:row);
            align-items: center;
            gap: 20px;
            padding: 30px 0;
            img{
                width: 40px;
                height: 50px;
            }
            p{
                @include displayFlex($fd:column);
                align-items: center;
                gap: 10px;
            }
        }
        
        .link{
            @include displayFlex($fd:column);
            width: 100%;
            align-items: center;
            padding: 30px 0;
            a{
                width: 150px;
                height: 100%;
                text-decoration: none;
                color: $secondary;
                border-radius: 30px;
                background-color: $primary;
                padding: 10px;
                text-align: center;
                font-size: 18px;
                &:hover{
                    background-color: $secondary;
                    color: white;
                }
            }
        }
    }

}