<div class="about-me" id="why-me">
    <div class="title">
        <h2>{{ 'whyme.whyme' | translate }}</h2>
    </div>
    <div class="about-me-content">
        <p class="my-history">
            {{ 'whyme.aboutme' | translate }}
        </p>
        <div class="i-am">
            <h4>{{ 'whyme.me' | translate }}</h4>
            <div class="icons">
                <p class="located"><img src="https://rucel-tsafack.com/assets_icons/location.png" alt="">{{ 'whyme.location' | translate }}</p>
                <p><img src="https://rucel-tsafack.com/assets_icons/remote_work.png" alt="">{{ 'whyme.remote' | translate }}</p>
                <p><img src="https://rucel-tsafack.com/assets_icons/relocate.png" alt="">{{ 'whyme.relocation' | translate }}</p>
            </div>
            <div class="link">
                <a href="#contact">{{ 'whyme.contact' | translate }}</a>
            </div>
            
        </div>
    </div>
    <app-button class="next-section" navigateTo="#skills"> <img src="https://rucel-tsafack.com/assets_icons/arrow_right.png" alt="" srcset=""> </app-button>

</div>
