<div class="about-me" id="why-me">
    <div class="title">
        <h2>Warum ich</h2>
    </div>
    <div class="about-me-content">
        <p class="my-history">
            Mein beruflicher Weg begann als Pflegefachmann – eine Zeit, in der ich lernte, unter Druck klar zu denken, 
            Probleme strukturiert zu lösen und die Bedürfnisse von Menschen zu verstehen. Dabei entdeckte ich meine Leidenschaft für 
            analytisches Arbeiten und effiziente Prozesse. <br> Diese Erkenntnis führte mich in die Frontend-Entwicklung. Durch intensive Weiterbildung und 
            eigene Projekte habe ich meinen beruflichen Fokus neu ausgerichtet und einen Bereich gefunden, in dem ich meine Stärken gezielt einbringen kann.

        </p>
        <div class="i-am">
            <h4>Ich bin</h4>
            <div class="icons">
                <p class="located"><img src="https://rucel-tsafack.com/assets_icons/location.png" alt="">befinde mich in Bad segeberg</p>
                <p><img src="https://rucel-tsafack.com/assets_icons/remote_work.png" alt="">offen für Remote-Arbeit</p>
                <p><img src="https://rucel-tsafack.com/assets_icons/relocate.png" alt="">bereit umzuziehen</p>
            </div>
            <div class="link">
                <a href="#contact">contact me</a>
            </div>
            
        </div>
    </div>
    <app-button class="next-section" navigateTo="#skills"> <img src="https://rucel-tsafack.com/assets_icons/arrow_right.png" alt="" srcset=""> </app-button>

</div>
