@import '../../../scss/_color.scss';
@import '../../../scss/_mixins.scss';

.about-me{
    @include displayFlex($fd:column);
    align-items: center;
    width: 100%;
    padding: 100px 0 50px 0;
    .title{
        @include titleMobile();
    }

    .my-history{
        padding: 15px auto;
        max-width: 800px;
    }

    .about-me-content{
        @include displayFlex($fd:column);
        align-items: center;
        color: $white;

        h4{
            text-align: center;
            font-size: 30px;
            color: $primary;
            padding: 10px;
        }

        .icons{
            @include displayFlex($fd:row);
            align-items: center;
            gap: 20px;
            padding: 30px 0;
            img{
                width: 40px;
                height: 50px;
            }
            p{
                @include displayFlex($fd:column);
                align-items: center;
                gap: 10px;
            }
        }
        
        .link{
            @include displayFlex($fd:column);
            width: 100%;
            align-items: center;
            padding: 30px 0;
            a{
                width: 150px;
                height: 100%;
                text-decoration: none;
                color: $secondary;
                border-radius: 30px;
                background-color: $primary;
                padding: 10px;
                text-align: center;
                font-size: 18px;
                &:hover{
                    background-color: $secondary;
                    color: white;
                    -webkit-box-shadow: 0px 0px 31px 5px #B5E93B; 
                    box-shadow: 0px 0px 31px 5px #B5E93B;
                     transition: all 0.15s ease;
                }
            }
        }
    }

}

@media(min-width: 801px){
    .about-me{
        position: relative;
        @include displayCenter();
        flex-direction: column;
        padding-left: 150px;
        padding-right: 150px;
        width: 100vw;
        height: 100vh;
        scroll-snap-align: start;
        overflow-y: hidden;

        .title{
            @include title();
            left: 100px;
            top: 350px;
        }

        .about-me-content{
            padding-left: 80px;
            padding-right: 30px;
            h4{
                font-size: 40px;
                text-align: left;
            }

            .icons{
               
                gap: 30px;
                img{
                    width: 50px;
                    height: 60px;
                }
                p{
                    font-size: 20px;
                    text-align: center;
                }
            }

            .link{
                a{
                    width: 200px;
                    font-size: 22px;
                }
            }
        }

        .next-section{
            position: absolute;
            bottom: 10%;
            right: 5%;
        }
    }
}


@media (max-width:800px) {
    .icons {

         >*{
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
        .located{
            display: none !important;
        }
    }

    .my-history{
        padding: 10px 12px;
        max-width: 800px;
    }
    
}