@import '../../../scss/_color.scss';
@import '../../../scss/_mixins.scss';
.footer{
    background-color: $primary;
    color: $secondary;
    @include displayFlex($jc:start, $fd:column);

    img{
        margin-left: 10px;
        width: 50px;
        height: 50px;
    }

}





@media (min-width:1501px) {
    .footer{
      width: 100px;
      height: 100vh;
    }

    .logo, .link{
        display: none !important;
    }
}

@media(min-width: 966px) and (max-width: 1500px){
    .footer{
        width: 100%;
        height: 100px;
        padding-top: 10px;
        display: flex;
        flex-direction: row;
        background-color: transparent;
        padding: 10px 30px;
        padding-left: 170px;
        padding-right: 100px;
        justify-content: flex-end;
        align-items: center !important;
        .logo{
            height: 100%;
            display: none;
            align-items: center;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        
        .link{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 20px;
            height: 100%;
            padding-top: 10px;
            p{
                text-align: end;
                a{
                    text-align: end;
                    text-decoration: none;
                    color: $white;
                    &:hover {
                        color: $primary;
                    }

                }
            }
        }
    }
}

@media(min-width: 451px) and ( max-width: 965px){ 
    .footer{
        width: 100%;
        height: 100px;
        padding-top: 10px;
        display: flex;
        flex-direction: row;
        background-color: $primary;
        padding: 10px 30px;
        justify-content: space-between;
        align-items: center !important;
        .logo{
            height: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        
        .link{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            height: 100%;
            padding-top: 10px;
            p{
                text-align: end;
                a{
                    text-align: end;
                    text-decoration: none;
                    color: $secondary;
                    &:hover {
                        color: $white;
                    }

                }
            }
        }
    }
}
@media ( max-width: 450px){ 
    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $primary;
        color: $secondary;
        padding: 10px 30px;

        .logo{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0px;
        }

        .link{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0px;
            p{
                cursor: pointer;
                text-align: end;
                a{
                    text-align: end;
                    text-decoration: none;
                    color: $secondary;   
                }
            }
        }
    }
}


