@import '../../../scss/_color.scss';
@import '../../../scss/_mixins.scss';
.header{
    position: fixed !important;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    top: 0;
    left: 0;
    bottom: 0;
    width: 120px;
    height: 100vh;
    background-color: $primary;
    gap: 12px;
    box-shadow: $shadow;
    z-index: 1000;
    img{
        margin-left: 10px;
        width: 80px;
        height: 80px;
    }

    .items{
        @include displayFlex($jc:center, $fd:column);
        width: 100%;
        padding: auto 0;
        gap: 10px;

        li{
            @include displayFlex($jc:center, $fd:column);
            text-decoration: none;
            list-style: none;
            width: 100%;
            height: auto;
            padding: 15px 0;
            a{
                padding: 25px 0;
                text-decoration: none;
                color: $secondary;
                font-weight: 500;
                font-size: 24px;
                transform: rotate(-90deg);
                transition: color 75ms ease, transform 75ms ease;
                flex-wrap: nowrap;
                &:hover {
                    color: $white;
                }
           }

            &:hover {
                color: $white !important;
            }

            &.active {
                color: $primary_light;
                font-weight: 700;
            }

            

        }
        
        .traduction{
                @include displayFlex($jc:center, $fd:row);
                display: none;
                gap: 6px;
                font-weight: 700;
                span{
                    cursor: pointer;
                    &:hover{
                        color: $primary_light;
                    }

                    &:focus{
                        color: $white;
                    }
                }
            }

    }
}


.burger {
  display: none;
  flex-direction: column;
  justify-content: center;
  width: 40px;
  height: 28px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-right: 20px;
}

.burger span {
  height: 3px;
  width: 100%;
  background: $secondary;
  margin: 3px 0;
  border-radius: 2px;
  transition: all 0.3s;
}

.burger span.open:nth-child(1) {
  transform: rotate(45deg) translateY(12px);
}
.burger span.open:nth-child(2) {
  opacity: 0;
}
.burger span.open:nth-child(3) {
  transform: rotate(-45deg) translateY(-12px);
}


@media (max-width: 965px)  {
    .header{
        position: fixed !important;
        flex-direction: row;
        justify-content: space-between !important;
        top: 0;
        left: 0;
        right: 0;
        height: 100px;
        width: 100%;
        z-index: 1000;
        img{
            width: 60px;
            height: 60px;
        }

        .traduction{
            display: flex !important;
        }

        .items{

            height: 100px;
            ul{
                display: flex;
                flex-direction: row;
                width: 100%;
                height: 100px;
                justify-content: flex-end;
                align-items: center;
            }

           li{
               display: flex;
               flex-direction: row;
               padding: 0;
               a{
                    padding: 0;
                    text-decoration: none;
                    color: $secondary;
                    font-weight: 500;
                    font-size: 18px;
                    transform: rotate(0deg);
                    transition: color 150ms ease, transform 150ms ease;
                    flex-wrap: nowrap;
                } 
            }
            
        }
    }
}

@media (max-width: 600px){
    .burger{
        display: flex;
    }

    .items{
        padding: 0 !important;
        top: 85%;
        left: 0;
        width: 100%;
        height: 250px !important;
        position: absolute;
        display: none !important;
        flex-direction: column;
        align-items: flex-start;
        background-color: $primary;
        border-radius: 0 0 30px 30px;
        ul{
            padding: 0 0 30px 0;
            margin: 0;
            height: 100% !important;
            display: flex;
            align-items: flex-start;
            flex-direction: column !important;
            gap: 20px;

        }
    }

    .items.open{
        display: flex !important;
    }

}