@import '../../../scss/_color.scss';
@import '../../../scss/_mixins.scss';
.header{
    position: fixed !important;
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: 0;
    bottom: 0;
    width: 120px;
    height: 100vh;
    max-height: 1200px;
    background-color: $primary;
    gap: 12px;
    box-shadow: $shadow;
    z-index: 1000;
    img{
        margin-left: 10px;
        width: 80px;
        height: 80px;
    }

    .items{
        @include displayFlex($jc:center, $fd:column);
        width: 100%;
        padding: auto 0;
        gap: 10px;

        li{
            @include displayFlex($jc:center, $fd:column);
            text-decoration: none;
            list-style: none;
            width: 100%;
            height: auto;
            padding: 15px 0;
            a{
                padding: 25px 0;
                text-decoration: none;
                color: $secondary;
                font-weight: 500;
                font-size: 24px;
                transform: rotate(-90deg);
                transition: color 75ms ease, transform 75ms ease;
                flex-wrap: nowrap;
           }

            &:hover {
                color: darken($secondary, 56%);
            }

            &.active {
                color: $primary_light;
                font-weight: 700;
            }

        }

    }
}



@media (max-width: 800px)  {
    .header{
        position: fixed !important;
        flex-direction: row;
        top: 0;
        left: 0;
        right: 0;
        height: 100px;
        width: 100%;
        z-index: 1000;
        img{
            width: 60px;
            height: 60px;
        }

        .items{
            height: 100px;
            ul{
                display: flex;
                flex-direction: row;
                width: 100%;
                height: 100px;
                justify-content: flex-end;
                align-items: center;
            }

           li{
               display: flex;
               flex-direction: row;
               padding: 0;
               a{
                    padding: 0;
                    text-decoration: none;
                    color: $secondary;
                    font-weight: 500;
                    font-size: 18px;
                    transform: rotate(0deg);
                    transition: color 150ms ease, transform 150ms ease;
                    flex-wrap: nowrap;
                } 
            }
            
        }
    }
}