<div class="header">
    <a href="#landing" (click)="closeMenu()"><img src="https://rucel-tsafack.com/images/RT_developer_logo_gray.png" alt=""></a>

    <button class="burger" (click)="toggleMenu()" aria-label="Menu">
      <span [class.open]="menuOpen"></span>
      <span [class.open]="menuOpen"></span>
      <span [class.open]="menuOpen"></span>
    </button>
    
    <div class="items" [class.open]="menuOpen">
        <ul>
            <li (click)="closeMenu()"><a href="#why-me">{{'header.why_me' | translate }}</a></li>
            <li (click)="closeMenu()"><a href="#skills">{{'header.skills' | translate }}</a></li>
            <li (click)="closeMenu()"><a href="#work">{{'header.projects' | translate }}</a></li>
            <li (click)="closeMenu()"><a href="#contact">{{'header.contact' | translate }}</a></li>
            <li class="traduction" (click)="closeMenu()">
                <span (click)="changeLanguage('de')" [class.active]="">DE</span> | <span (click)="changeLanguage('en')" [class.active]="">EN</span>
            </li>
        </ul>
    </div>
</div>
