@import '../../../scss/_color.scss';
@import '../../../scss/_mixins.scss';
.privacy-policy{
    margin-left: 130px !important;
    color: $white;
    width: 100vw;
    height: 100vh;
    scroll-behavior: smooth;
    h3{
        font-size: 24px;
        font-weight: 600;
        color: $primary;
    }

    .mail-link{
       color: $white;
    }
}

@media (min-width: 801px){
    .privacy-policy{
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow-x: auto;
        width: 100vw;
        
        .title{
            @include title();
            top: 60%;
            left: 0;
        }
        
        .content{
            flex: 0 0 calc(100vw - 750px);
            margin: 10px 110px;
        }

        .contact-info{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-evenly;
            gap: 50px;
            width: 300px;
            margin-right: 10px;

        p, h4{
            text-align: end;
        }
        .link{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            gap: 20px;
            p{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 10px;
                a{
                    text-decoration: none;
                    color: $white;
                }

            }
        }

        .bottom{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 20px;
            p{
                text-align: end;
                a{
                    text-align: end;
                    text-decoration: none;
                    color:$white;
                    cursor: pointer;
                }
            }
        }
    }
    }
}

        


@media (max-width: 800px) {
    .privacy-policy{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 0 !important;
        margin: 0;
        padding-top: 100px !important;

        .title{
            @include titleMobile();
            width: 100%;
            font-size: 28px;
            text-align: start !important;
        }
        
        .left, .right{
            padding: 10px;
        }

        ul{
            margin-left: 20px;
            li{
                margin-left: 10px;
            }
        }

        h3{
            margin: 10px 10px 10px 0;
        }

        p{
            margin-left: 5px;
        }

       
    }
    .contact-info{
        display: none;
    }

    .footer{
        width: 100% !important;
        height: 100px !important;
        background-color: $primary;
    }
}


::-webkit-scrollbar {
    width: 10px;
    display: none;
  }

  ::-webkit-scrollbar-track {
    background: #222;
    border-radius: 10px;
    display: none;
  }

  ::-webkit-scrollbar-thumb {
    background: #ccff00;
    border-radius: 10px;
    display: none;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #e6ff4d;
    display: none;
  }
