<div class="testimoni" id="testimoni">
    <div class="title">
        <h2>References</h2>
    </div>
    <div class="message-list">
        @for(testimony of testimonies; track testimony){
            <app-message
                [developerName]="testimony.developerName"
                [message]="testimony.message"
                [projectName]="testimony.projectName"
            >
            </app-message>
        }

       
    </div>
    <app-button class="next-section" navigateTo="#contact"> <img src="https://rucel-tsafack.com/assets_icons/arrow_right.png" alt="" srcset=""> </app-button>
</div>
