.testimoni{
    flex: 0 0 100vw;
    width: 100vw; 
    height: 100vh;
    scroll-snap-align: start;
    display: grid;
    place-items: center;
    box-sizing: border-box;
    padding: 2rem;
    font-size: 2rem;
}