@import '../../../scss/_color.scss';
@import '../../../scss/_mixins.scss';

.testimoni{
    position: relative;
    display: flex;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 2rem;
    height: auto;
    padding: 100px 0 50px 0;

    .title{
        @include titleMobile();
    }

    .message-list{
        @include displayFlex($jc:center,$fd:column);
        align-items: center;
        gap: 30px;
    }

    .dots-content{
        width: 100%;
        display: none;
    }


    .next-section{
        top: 25%;
        right: 5%;
    }
}

@media(min-width: 965px) and (max-width: 1199px){
    .testimoni{
        position: relative;
        justify-content: start !important;
        flex-direction: column;
        align-items: center;
        padding-left: 150px;
        padding-right: 50px;
        width: 100vw;
        // height: 100vh;
        scroll-snap-align: start;
        overflow-y: hidden;

        .title{
            @include titleMobile()
        }

        .next-section{
            display: none;
        }

    }

}

@media(min-width: 1200px){
    .testimoni{
        position: relative;
        @include displayCenter();
        flex-direction: row;
        padding-left: 150px;
        padding-right: 150px;
        width: 100vw;
        height: 100vh;
        scroll-snap-align: start;
        overflow-y: hidden;

        .title{
            position: absolute;
            @include title();
            bottom: 5%;
            left: 60px;
        }

        .next-section{
            display: block;
            position: absolute;
            top: 10%;
            right: 5%;
        }
    }
}



@media (max-width: 965px){
    .testimoni{
        padding: 30px;
        align-items: center;

        .title{
            width: 100%;
            text-align: start !important;
        }
        .message-list{
            @include displayFlex($jc:flex-start,$fd:row);
            align-items: center;
            gap: 10px;
            overflow-x: auto;
            scroll-behavior: smooth;
            padding: 10px;
            margin-right: 20px;
            scroll-snap-type: x mandatory;
            -webkit-overflow-scrolling: touch;
            width: 100vw;
            .message{
                flex: 0 0 calc(100vw - 30px);
                scroll-snap-align: start;
                box-sizing: border-box;
                padding: 10px;
                text-align: center;
            }
        }
        .message-list::-webkit-scrollbar {
            display: none;
        }
        .message-list {
            scrollbar-width: none;
        }
    }

    .dots-content{
        display: flex !important;
        align-items: center;
        justify-content: center;
        gap: 7px;
        .dot{
            color: $primary;
            background-color: $primary;
            border: none;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            padding:5px;
        }

        .dot.active{
            width: 30px;
            border-radius: 20px;
        }
    }

    .next-section{
        display: none !important;
    }

}

@media (max-width: 600px){
    .title{
        font-size: 30px !important;
    }
}


