@import '../../../scss/_color.scss';
@import '../../../scss/_mixins.scss';

.testimoni{
    position: relative;
    display: flex;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 2rem;
    height: auto;
    padding: 100px 0 50px 0;

    .title{
        @include titleMobile();
    }

    .message-list{
        @include displayFlex($jc:center,$fd:column);
        align-items: center;
        gap: 30px;
    }


    .next-section{
        top: 25%;
        right: 5%;
    }
}
