@import '../../../scss/_color.scss';
@import '../../../scss/_mixins.scss';

.testimoni{
    position: relative;
    margin-left: 2900px !important;
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    font-size: 2rem;
    height: 100%;

    .title{
        @include title;
        bottom: 0;
        left: -40px;
    }

    .message-list{
        @include displayFlex($ai:center, $jc:center,$fd:row);
    }


    .next-section{
        position: absolute;
        bottom: 10px;
        right: 5%;
    }
}