@import '../../../../scss/_color.scss';
@import '../../../../scss/_mixins.scss';

.message{
    height: 180px;
    width: 700px;
    border-radius: 30px;
    border: 1px solid $primary_light;
    padding: 15px;
    @include displayFlex($fd:row);
    align-items: center;

    .separator{
        width: 1px;
        height: 100%;
        border: 1px solid $primary_light;
    }

    .content{
        width: 60%;
        height: 100%;
        font-size: 18px;
        color: $white;
        @include displayFlex($fd:row);
        align-items: center;
        padding: 4px;
    }

    .devName{
        @include displayFlex($fd:column);
        align-items: center;
        width: 40%;
        height: 100%;
        h3{
            font-size: 32px;
            color: $primary;
        }

        p{
            font-size: 18px;
            color: $primary_light;
        }

    }
}



@media (max-width: 965px) {
    .message{
        width: 95%;
        height: 280px;
        padding:20px;
        .content{
            font-size: 16px;
            padding: 8px;
            color: $white;
            @include displayFlex($fd:row);
            align-items: center;
        }

        .devName{
            h3{
                font-size: 24px;
            }

            p{
                font-size: 16px;
            }

        }
    }
}

@media (max-width: 450px){
    .message{
        @include displayFlex($fd:column);
        align-items: center;
        height: 310px;
        .separator{
            width: 100%;
            height: 1px;
            border: 1px solid $primary_light;
        }

        .content, .devName{
            width: 100%;
        }
    }
}