@import '../../../scss/_color.scss';
@import '../../../scss/_mixins.scss';
.socials{
    @include displayFlex($jc:center, $fd:row);
    align-items: center;
    gap: 20px;
    li{
        list-style: none;
    }

    .linkedin{
        &:hover{
            img{
                background: transparent;
                content: url('https://rucel-tsafack.com/assets_icons/linkedin_hover.png');
                -webkit-box-shadow: 0px 0px 31px 10px #B5E93B; 
                box-shadow: 0px 0px 31px 10px #B5E93B;
                border-radius: 50%;
            }

        }
         transition: all 0.15s ease;

        
    }

    .github{
        &:hover{
            img{
                background: transparent;
                content: url('https://rucel-tsafack.com/assets_icons/github_hover.png');
                -webkit-box-shadow: 0px 0px 31px 10px #B5E93B; 
                box-shadow: 0px 0px 31px 10px #B5E93B;
                border-radius: 50%;
            }
        }
         transition: all 0.15s ease;
    }

    .email{
        &:hover{
            img{
                background: transparent;
                content: url('https://rucel-tsafack.com/assets_icons/email_hover.png');
                -webkit-box-shadow: 0px 0px 31px 10px #B5E93B; 
                box-shadow: 0px 0px 31px 10px #B5E93B;
                border-radius: 50%;
            }
        }
         transition: all 0.15s ease;
    }



    h3{
        @include displayFlex($jc:center, $fd:row);
        gap: 6px;
        color: $white;
        margin-left: 50px;
        span{
            cursor: pointer;
            &:hover{
                color: $primary_light;
            }

            &:focus{
                color: $primary;
            }
        }
    }
}

@media(min-width: 1200px){
    .socials{
        position: fixed;
        top: 20px;
        right: 10%;

    }
}

@media(min-width: 965px) and (max-width: 1199px){
    .socials{
        padding-left: 150px;
    }
}

@media(max-width: 965px){
    .socials{
        position: sticky;
        width: 100%;
        height: 50px;
        bottom: 0 !important;

        h3{
            display: none !important;
        }
        
    }
}




