@import '../../../scss/_color.scss';
@import '../../../scss/_mixins.scss';
.socials{
    @include displayFlex($jc:center, $fd:row);
    align-items: center;
    gap: 20px;
    
    li{
        list-style: none;
    }

    h3{
        @include displayFlex($jc:center, $fd:row);
        gap: 6px;
        color: $white;
        margin-left: 50px;
        span{
            cursor: pointer;
            &:hover{
                color: $primary_light;
            }

            &:focus{
                color: $primary;
            }
        }
    }
}


