<div class="projects" id="work">
    <div class="title">
        <h2>{{'projects.title' | translate }}</h2>
    </div>
    <div class="project-list" #projectList (scroll)="updateActiveIndex()">
        @for (project of projects; track project; let i = $index) {
            <div class="card-project">
                <app-project-card
                    [index]="i+1"
                    [projectName]="project.projectName"
                    [aboutProject]="project.aboutProject"
                    [usedTechno]="project.usedTechno"
                    [earnedSkills]="project.earnedSkills"
                    [githubLink]="project.githubLink"
                    [projectLink]="project.projectLink"
                    [projectImage]="project.projectImage"
                    [isExpanded]="i+1 === expandedCardIndex"
                    (cardClicked)="toggleCardExpansion($event)"
                >
                </app-project-card>
            </div>
        }
    </div>
    <section class="dots-content">
        @for(project of projects; let i= $index; track i ){
            <button class="dot" [class.active]="i === activeIndex" (click)="scrollToMessage(i)">
            </button>
        }
    </section>
    
    <app-button class="next-section" navigateTo="#testimoni"> <img src="https://rucel-tsafack.com/assets_icons/arrow_right.png" alt="" srcset=""> </app-button>
</div>
