@import '../../../scss/_color.scss';
@import '../../../scss/_mixins.scss';

.projects{
    position: relative;
    margin-left: 380px !important;
    display: flex;
    width: max-content;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    font-size: 2rem;
    height: 100%;

    .title{
        @include title;
        top: 50%;
        left: -40px;
    }

    .project-list{
        @include displayFlex($ai:center, $jc:center,$fd:row);
        
    }


    .next-section{
        position: absolute;
        bottom: 10px;
        right: -4%;
    }
}