@import '../../../scss/_color.scss';
@import '../../../scss/_mixins.scss';

.projects{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    font-size: 2rem;
    height: auto;
    padding: 100px 0 50px 0;
    .title{
        @include titleMobile();
    }


    .project-list{
        @include displayFlex($jc:center,$fd:column);
        margin-left: 25px;  

        .dots-content{
            display: none !important;
        }
    }

    .card-project{
        margin: 20px 0;
    }

    .next-section{
        bottom: 10px;
        right: -4%;
    }

}

@media(min-width: 966px) and (max-width: 1500px){
    .projects{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-left: 150px;
        padding-right: 50px;
        width: 100vw;
        // height: 100vh;
        scroll-snap-align: start;

        .title{
            @include titleMobile();
        }
        .next-section{
            display: none !important;
        }
        
        .dots-content{
            display: none !important;
        }
    }

    

}

@media(min-width: 1501px){
    .projects{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding-left: 150px;
        padding-right: 50px;
        width: 100vw;
        height: 100vh;
        scroll-snap-align: start;

        .title{
            @include title();
            position: absolute;
            height: 100px;
            bottom: 40px;
            left: 50px;
            margin: 50px;
            padding: 30px;
            z-index: 2;
        }

        .project-list{
            @include displayFlex($jc:flex-start,$fd:row);
            align-items: center;
            margin-left: 70px;
            padding-left: 50px;
            gap: 20px;
            scroll-snap-type: x mandatory;
            overflow-x: auto;
            z-index: 1;
            scroll-behavior: smooth;
            -webkit-overflow-scrolling: touch;
        }

        .next-section{
            display: block;
            position: absolute;
            top: 10%;
            right: 5%;
            z-index: 2;
        }

    }

    ::-webkit-scrollbar {
    width: 10px;
    display: none;
  }

  ::-webkit-scrollbar-track {
    background: #222;
    border-radius: 10px;
    display: none;
  }

  ::-webkit-scrollbar-thumb {
    background: #ccff00;
    border-radius: 10px;
    display: none;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #e6ff4d;
    display: none;
  }
}

.dots-content{
    position: absolute;
    bottom: 20px;
    left: 50%;
    display: flex !important;
    align-items: center;
    justify-content: center;
    gap: 7px;
    .dot{
        color: $primary;
        background-color: $primary;
        border: none;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        padding:5px;
    }

    .dot.active{
        width: 30px;
        border-radius: 20px;
    }
}


@media (max-width: 965px) {

    .dots-content{
        display: none !important;
    }

    .next-section{
        display: none !important;
    }
    
}