<div class="projects" id="work">
    <div class="title">
        <h2>My Work</h2>
    </div>
    <div class="project-list">
        @for (project of projects; track project; let index = $index) {
            <div class="card-project">
                <app-project-card
                    [index]="index+1"
                    [projectName]="project.projectName"
                    [aboutProject]="project.aboutProject"
                    [usedTechno]="project.usedTechno"
                    [earnedSkills]="project.earnedSkills"
                    [githubLink]="project.githubLink"
                    [projectLink]="project.projectLink"
                    [projectImage]="project.projectImage">
                >
                </app-project-card>
            </div>
        }
       
    </div>
    <app-button class="next-section" navigateTo="#testimoni"> <img src="https://rucel-tsafack.com/assets_icons/arrow_right.png" alt="" srcset=""> </app-button>
</div>
