@import '../../../scss/_color.scss';
@import '../../../scss/_mixins.scss';

.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 2rem;
    height: 3200px !important;
    padding: 100px 0 50px 0;
    .title{
        @include titleMobile();
    }

    .project-list{
        @include displayFlex($jc:center,$fd:column);
        
    }

    .card-project{
        margin: 20px 0;
    }

    .next-section{
        bottom: 10px;
        right: -4%;
    }
}