@import '../../../scss/_color.scss';
@import '../../../scss/_mixins.scss';

.landing{
    // position: relative;
    @include displayFlex($jc:center, $fd:column);
    align-items: center;
    font-size: 2rem;
    height: 100%;
    .next-section{
        width: 100px;
        height: 40px;
        position: absolute;
        top: 150px ;
        right: 5% !important;
        img{
            transition: all 0.3s ease;
           
        }
    }

    .location{
        display: none;
    }

    .contain{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        .function{
            position: absolute;
            bottom: 15%;
            @include displayFlex($jc:center, $fd:column);
            color: $primary;
            text-align: end;
            h4{
                height: 50px;
                color: transparent;
                line-height: 1;
                -webkit-text-stroke: 1px $primary;
                display: inline-block;
                font-size: 2.5rem;
                font-weight: 700;
                white-space: nowrap; 
                overflow: hidden;
                width: 0; 
                animation: typing 2s steps(100, end) forwards;
                animation-delay: 0s, 2s; 
            }
        }

        .image-landing{
            @include displayFlex($jc:center, $fd:column);
            align-items: center;
            img{
                bottom: 0;
                width: 900px;
                object-fit: cover;
            }
        }

        
    }
}

@media(min-width: 801px){
    .landing{
        width: 100vw;
        height: 100vh;
        scroll-snap-align: center;
        overflow-y: hidden;
    }
}


@media (max-width: 800px) {
    .landing{
        position: relative;
        @include displayFlex($jc:center, $fd:column);
        align-items: center;
        font-size: 2rem;
        height: 100vh;
        padding: 50px 0;

        .next-section{
            position: absolute;
            bottom: 50px;
            right: 100px !important;
        }

        .location{
            position: absolute;
            width: 100%;
            font-size: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
            bottom: 0;
            color: $white;
        }

        .contain{
            display: flex;
            align-items: center;
            justify-content: center ;
            top: 40px;
            padding: 40px 0;
            
            .function{
                position: absolute;
                width: 100%;
                bottom: 15%;
                @include displayFlex($jc:center, $fd:column-reverse);
                align-items: center !important;
                text-align: center !important;
                color: $primary;
            }

            .image-landing{
                bottom: 0;
                @include displayFlex($jc:center, $fd:column);
                align-items: center;
                img{
                    width:100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            
        }
    }

}


@media (max-width: 600px) {
    .function{
        h1{
            font-size: 2.5rem;
        }

        h4{
            width: 100%;
            font-size: 29px !important;
            animation: typing 2s steps(100, end) forwards;
            animation-delay: 0s, 2s; 
        }
    }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}





