@import '../../../scss/_color.scss';
@import '../../../scss/_mixins.scss';

.landing{
    // position: relative;
    @include displayFlex($jc:center, $fd:column);
    align-items: center;
    font-size: 2rem;
    height: 100%;
    .next-section{
        position: absolute;
        top: 150px ;
        right: 100px !important;
    }

    .contain{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        .function{
            position: absolute;
            bottom: 15%;
            @include displayFlex($jc:center, $fd:column);
            color: $primary;
            text-align: end;
        }

        .image-landing{
            @include displayFlex($jc:center, $fd:column);
            align-items: center;
            img{
                bottom: 0;
                width: 900px;
                object-fit: cover;
            }
        }

        
    }
}


@media (max-width: 800px) {
    .landing{
        position: relative;
        @include displayFlex($jc:center, $fd:column);
        align-items: center;
        font-size: 2rem;
        height: 100%;
        padding: 50px 0;

        .next-section{
            position: absolute;
            bottom: 50px;
            right: 100px !important;
        }

        .contain{
            display: flex;
            align-items: center;
            justify-content: center;
            top: 40px;
            padding: 40px 0;
            
            .function{
                position: absolute;
                bottom: 15%;
                @include displayFlex($jc:center, $fd:column);
                align-items: center;
                color: $primary;
                text-align: end !important;
            }

            .image-landing{
                bottom: 0;
                @include displayFlex($jc:center, $fd:column);
                align-items: center;
                img{
                    width:100%;
                    height: 75vh;
                    object-fit: cover;
                    
                }
            }

            
        }
    }

}




