@import '../../../scss/_color.scss';
@import '../../../scss/_mixins.scss';

.landing{
    // position: relative;
    @include displayFlex($jc:center, $fd:column);
    align-items: center;
    font-size: 2rem;
    height: 100%;
    .next-section{
        position: absolute;
        top: 150px ;
        right: 100px !important;
    }

    .contain{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        .function{
            position: absolute;
            bottom: 15%;
            @include displayFlex($jc:center, $fd:column);
            color: $primary;
            text-align: end;
            h4{
                color: transparent;
                line-height: 1;
                -webkit-text-stroke: 1px $primary;
                display: inline-block;
                font-size: 2.5rem;
                font-weight: 700;
                border-right: 2px solid $primary_light;
                white-space: nowrap; 
                overflow: hidden;
                width: 0; 
                animation: typing 4s steps(60, end) forwards, blink 0.7s step-end infinite;
            }
        }

        .image-landing{
            @include displayFlex($jc:center, $fd:column);
            align-items: center;
            img{
                bottom: 0;
                width: 900px;
                object-fit: cover;
            }
        }

        
    }
}


@media (max-width: 800px) {
    .landing{
        position: relative;
        @include displayFlex($jc:center, $fd:column);
        align-items: center;
        font-size: 2rem;
        height: 100%;
        padding: 50px 0;

        .next-section{
            position: absolute;
            bottom: 50px;
            right: 100px !important;
        }

        .contain{
            display: flex;
            align-items: center;
            justify-content: center;
            top: 40px;
            padding: 40px 0;
            
            .function{
                position: absolute;
                bottom: 15%;
                @include displayFlex($jc:center, $fd:column);
                align-items: center;
                color: $primary;
                text-align: end !important;
            }

            .image-landing{
                bottom: 0;
                @include displayFlex($jc:center, $fd:column);
                align-items: center;
                img{
                    width:100%;
                    height: 75vh;
                    object-fit: cover;
                    
                }
            }

            
        }
    }

}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}




