
<div class="project-card" [class.expanded]="isExpanded()">
    <div class="project-title">
        <span class="index">{{index()}}</span> 
        <h2>{{projectName()}}</h2>
    </div>
    <div class='project-detail'>
        <div class="detail-text">
            <li class="about">
                Über das Projekt
                <p>
                    {{aboutProject()}}
                </p>

            </li>
            <li class="used-techno">
                Technologien, die ich verwendet habe
                <p>
                    @for(techno of usedTechno(); track techno; let last = $last){
                        {{techno }} @if (!last) { | }
                    }
                </p>

            </li>
            <li>
                Was ich gelernt habe
                <p>
                    @for(skill of earnedSkills(); track skill; let last = $last){
                        {{skill}} @if (!last) { | }
                    }
                </p>
            
            </li>
        </div>
        <div class="project-image">
            <div class="vor-image">
                <img [src]="projectImage()" alt="{{projectName()}} image">
            </div>
            <div class="project-link">
                <a [href]="githubLink()" target="_blank" class="github">GitHub</a>
                <a [href]="projectLink()" target="_blank" >Live Test</a>
            </div>
        </div>
    </div>
    
    <div class="expand-indicator"  (click)="onCardClick()">
        @if (isExpanded()) {
            <span>Weniger anzeigen ▲</span>
        } @else {
            <span>Mehr anzeigen ▼</span>
        }
    </div>
</div>