@import '../../../../scss/_color.scss';
@import '../../../../scss/_mixins.scss';

.project-card{
    @include displayFlex($fd:column, $jc:start);
    padding: 10px;
    background-color: $bg_color_secondary;
    border-radius: 50px;
    color: $white;
    width: 90vw;
    max-height: 1000px;
    z-index: 2;
    .project-detail{
        @include displayFlex($fd:column, $jc:start);
    }

    .about{
        width: 100% !important;
    }

}

.project-title{
    @include displayFlex($fd:row, $jc:start);
    gap: 20px;
    span{
        color: transparent;
        line-height: 1;
        -webkit-text-stroke: 1px $primary;
        font-weight: 700;
        width: 60px;
        height: 120px;
        font-size: 100px;
        font-weight: bold;
    }

    h2{
        margin-top: 20px;
        color: $primary;
    }
}

.project-image{
    @include displayFlex($jc:center);
    align-items: center;
    width: 100%;
    .vor-image{
        @include displayFlex($fd:row);
        margin-bottom: 20px;
        width: 100%;
        img{
            width: 100%;
            max-height: 250px;
            border-radius: 36px;
            object-fit: cover;
        }
    }

    .project-link{
        @include displayFlex($fd:row);
        gap: 20px;
        a{
            width: 150px;
            height: 100%;
            text-decoration: none;
            color: $secondary;
            border-radius: 30px;
            background-color: $primary;
            padding: 10px;
            text-align: center;
            font-size: 18px;
            &:hover{
                background-color: $secondary;
                color: white;
            }
        }

        .github{
            background-color: transparent;
            border: $primary 1px solid;
            color: $primary;
            &:hover{
                color: white;
                border: none;
            }
        }
                
    }

}



.detail-text{
    list-style: none;
    padding: 0;
    margin: 0;

    li{
        position: relative;
        margin: 1.5em 0;
        padding-left: 70px;
        font-size: 1.5rem;
        &::before{
            content: '';
            position: absolute;
            left: 30px;
            top: 20px;
            transform: translateY(-50%);
            font-size: 20px;
            font-weight: 900;
            color: transparent;
            -webkit-text-stroke: 1.5px $primary;
            border: 2px solid $primary;
            border-radius: 50%;
            width: 15px;
            height: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        p{
            font-size: 18px;
            padding: 5px;
        }
    }


    
}

@media (max-width: 800px) {
    .project-detail{
        @include displayFlex($fd:column);
        font-size: 16px;

    }
    .about{
        width: 100% !important;
    }
    
}
