
<div class="project-card" [class.expanded]="isExpanded()">
    <div class="project-title">
        <span class="index">{{index()}}</span> 
        <h2>{{projectName()}}</h2>
    </div>
    <div class='project-detail'>
        <div class="detail-text">
            <li class="about">
                {{'projects.about' | translate }}
                <p>
                    {{aboutProject()}}
                </p>

            </li>
            <li class="used-techno">
                {{'projects.technologies' | translate }}
                <p>
                    @for(techno of usedTechno(); track techno; let last = $last){
                        {{techno }} @if (!last) { | }
                    }
                </p>

            </li>
            <li>
                {{'projects.new_skills' | translate }}
                <p>
                    {{earnedSkills()}}
                </p>
            
            </li>
        </div>
        <div class="project-image">
            <div class="vor-image">
                <img [src]="projectImage()" alt="{{projectName()}} image">
            </div>
            <div class="project-link">
                <a [href]="githubLink()" target="_blank" class="github">GitHub</a>
                <a [href]="projectLink()" target="_blank" >Live Test</a>
            </div>
        </div>
    </div>
    
    <div class="expand-indicator"  (click)="onCardClick()">
        @if (isExpanded()) {
            <span>{{'projects.less' | translate }} ▲</span>
        } @else {
            <span>{{'projects.more' | translate }} ▼</span>
        }
    </div>
</div>