@import '../../../../scss/_color.scss';
@import '../../../../scss/_mixins.scss';

.project-card{
    position: relative;
    @include displayFlex($fd:column, $jc:start);
    padding: 10px;
    background-color: $bg_color_secondary;
    border-radius: 50px;
    color: $white;
    width: 90vw;
    height: 900px;
    z-index: 2;
    .project-detail{
        @include displayFlex($fd:column, $jc:start);
    }

    .about{
        width: 100% !important;
    }

    .expand-indicator{
        height: 50px;
        width: 100%;
        cursor: pointer;
        background-color: $bg_color_secondary;
        @include displayFlex($jc:center);
        display: none;
        align-items: center;
        position: absolute;
        color: $primary;
        bottom: 0px;
        left: 0;
        border-radius: 50px;
        span{
            font-size: 18px;
            text-decoration: underline;
        }
    }

}

.project-title{
    @include displayFlex($fd:row, $jc:start);
    gap: 20px;
    span{
        color: transparent;
        line-height: 1;
        -webkit-text-stroke: 1px $primary;
        font-weight: 700;
        width: 60px;
        height: 120px;
        font-size: 100px;
        font-weight: bold;
    }

    h2{
        margin-top: 20px;
        color: $primary;
    }
}

.project-image{
    @include displayFlex($jc:center);
    align-items: center;
    width: 100%;
    .vor-image{
        @include displayFlex($fd:row);
        margin-bottom: 20px;
        width: 100%;
        img{
            width: 100%;
            max-height: 300px;
            border-radius: 36px;
            object-fit: cover;
        }
    }

    .project-link{
        @include displayFlex($fd:row);
        gap: 20px;
        a{
            width: 150px;
            height: 100%;
            text-decoration: none;
            color: $secondary;
            border-radius: 30px;
            background-color: $primary;
            padding: 10px;
            text-align: center;
            font-size: 18px;
            &:hover{
                background-color: $secondary;
                color: white;
            }
        }

        .github{
            background-color: transparent;
            border: $primary 1px solid;
            color: $primary;
            &:hover{
                color: white;
                border: none;
            }
        }
                
    }

}


.detail-text{
    list-style: none;
    padding: 0;
    margin: 0;

    li{
        position: relative;
        margin: 1em 0;
        padding-left: 70px;
        font-size: 20px;
        &::before{
            content: '';
            position: absolute;
            left: 30px;
            top: 20px;
            transform: translateY(-50%);
            font-size: 20px;
            font-weight: 900;
            color: transparent;
            -webkit-text-stroke: 1.5px $primary;
            border: 2px solid $primary;
            border-radius: 50%;
            width: 15px;
            height: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        p{
            font-size: 18px;
            padding: 5px;
        }
    }    
}

@media(min-width: 965px){
    .project-card{
        position: relative;
        @include displayFlex($fd:column, $jc:start);
        padding: 20px;
        width: 750px;
        height: 500px;
        z-index: 2;
        scroll-snap-align: start;

        .project-image{
            position: absolute;
            top: 50px;
            right: 20px;
            width: 45%;
            .vor-image{
                margin-bottom: 10px;
                img{
                    max-height: 200px;
                }
            }
        }
    }

    .detail-text{
        .about, .used-techno{
            width: 52% !important;

        }
        li{
            margin: 1.2em 0;
            padding-left: 50px;
            font-size: 18px;
            &::before{
                left: 20px;
                width: 12px;
                height: 12px;
            }

            p{
                font-size: 16px;
                padding: 5px;
            }
        }    
    }

    .project-title{
        span{
            width: 50px;
            height: 100px;
            font-size: 80px;
        }

        h2{
            font-size: 28px;
            margin-top: 20px;
        }
    }
}

@media (max-width: 965px) {

    .project-card{
        @include displayFlex($fd:column, $jc:start);
        padding: 10px;
        width: 90vw;
        overflow: hidden;
        height: 400px;
        z-index: 2;
    }

    .project-detail{
        @include displayFlex($fd:column);
        font-size: 16px;

    }

    .detail-text{
        list-style: none;
        padding: 0;
        margin: 0;

        li{
            position: relative;
            margin: 1em 0;
            padding-left: 20px;
            &::before{
                content: '';
                position: absolute;
                left: 0px;
                top: 20px;
                transform: translateY(-50%);
                font-size: 18px;
                font-weight: 900;
                color: transparent;
                -webkit-text-stroke: 1.5px $primary;
                border: 2px solid $primary;
                border-radius: 50%;
                width: 12px;
                height: 12px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            p{
                font-size: 16px;
                padding: 5px;
            }
        }    
    }
    
    .about{
        width: 100% !important;
    }

    .project-title{
        @include displayFlex($fd:row, $jc:start);
        align-items: flex-start;
        gap: 20px;
        span{
            color: transparent;
            line-height: 1;
            -webkit-text-stroke: 1px $primary;
            font-weight: 700;
            width: 60px;
            height: 80px;
            font-size: 70px;
            font-weight: bold;
        }

        h2{
            font-size: 35px;
            margin-top: 10px;
            color: $primary;
        }
    }

    .vor-image{
        img{
            height: 100%;
        }
    }

    

    .project-link{
        @include displayFlex($fd:row);
        gap: 10px;
        a{
            width: 100px;
            height: 100%;
            text-decoration: none;
            color: $secondary;
            border-radius: 30px;
            background-color: $primary;
            padding: 5px;
            text-align: center;
            font-size: 16px;
            &:hover{
                background-color: $secondary;
                color: white;
            }
        }

        .github{
            background-color: transparent;
            border: $primary 1px solid;
            color: $primary;
            &:hover{
                color: white;
                border: none;
            }
        }
                
    }

    .expand-indicator{
        display: flex !important;

    }

    .expanded{
        height: 900px !important;
    }

    
}

@media (max-width: 480px) {

    .project-card{
        @include displayFlex($fd:column, $jc:start);
        padding: 10px;
        width: 90vw;
        height: 500px;
        z-index: 2;
    }

    .project-title{
        @include displayFlex($fd:row, $jc:start);
        align-items: flex-start;
        gap: 20px;
        span{
            color: transparent;
            line-height: 1;
            -webkit-text-stroke: 1px $primary;
            font-weight: 700;
            margin-left: 20px;
            width: 60px;
            height: 50px;
            font-size: 50px;
            font-weight: bold;
        }

        h2{
            font-size: 24px;
            margin-top: 10px;
            color: $primary;
        }
    }

    .detail-text{
        list-style: none;
        padding: 0;
        margin: 0;

        li{
            position: relative;
            margin: 0.5em 0;
            padding-left: 20px;
            &::before{
                content: '';
                position: absolute;
                left: 0px;
                top: 20px;
                transform: translateY(-50%);
                font-size: 18px;
                font-weight: 900;
                color: transparent;
                -webkit-text-stroke: 1.5px $primary;
                border: 2px solid $primary;
                border-radius: 50%;
                width: 12px;
                height: 12px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            p{
                font-size: 18px;
                padding: 5px;
            }
        }    
    }


    .project-link{
        @include displayFlex($fd:row);
        gap: 10px;
        a{
            width: 110px !important;
            height: 100%;
            text-decoration: none;
            color: $secondary;
            border-radius: 30px;
            background-color: $primary;
            padding: 5px;
            text-align: center;
            font-size: 16px;
            &:hover{
                background-color: $secondary;
                color: white;
            }
        }

        .github{
            background-color: transparent;
            border: $primary 1px solid;
            color: $primary;
            &:hover{
                color: white;
                border: none;
            }
        }          
    }

    .expanded{
        height: 950px !important;
    }
    
}
