@import '../scss/_mixins.scss';
@import '../scss/_color.scss';

.header{
    width: 170px;
    height: 100vh;
}

.content{
    width: calc(100% - (120px + 100px));
    @include displayFlex($ai:center, $jc:center, $fd:row);
    flex-wrap: nowrap;
    scroll-behavior: smooth;
    height: 100vh;
    max-height: 1200px;
    >*{
        @include displayFlex($ai:center, $jc:center, $fd:column);
        width: 100vw;            
        height: 100vh;
        max-height: 1200px;
    }
    
}

.footer{
    height: 100vh !important;
    width: 100px !important;
}


// ::-webkit-scrollbar {
//   height: 0px;
//   width: 0px;
//     display: none;
// }

// ::-webkit-scrollbar-thumb {
//   width: 0;
//   height: 0;
//   display: none !important;
// }

// ::-webkit-scrollbar-track {
//     width: 0;
//     height: 0;
// }
  
