@import '../../../scss/_color.scss';
@import '../../../scss/_mixins.scss';
button{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: unset;
    cursor: pointer;
    width: 120px;
    height: 0;
    &:hover{
        -webkit-box-shadow: 0px 0px 31px 10px #B5E93B; 
        box-shadow: 0px 0px 31px 10px #B5E93B;
        
    }
    
    img{
        &:hover{
            -webkit-box-shadow: 0px 0px 21px 15px #B5E93B;    
            box-shadow: 0px 0px 21px 15px #B5E93B;
        }
    }
    
    transition: all 0.15s ease;

    @media (max-width: 965px) {
        height: 120px;
        width: 0;
    }
}