@import '../../../scss/_color.scss';
@import '../../../scss/_mixins.scss';
  
.main-content{
  position: relative;
  @include displayFlex($jc:center, $fd:column);
  gap: 20px;
  scroll-behavior: smooth;
}



@media (max-width: 965px) {

  .main-content{
    margin-left: 0px;
    padding: 0;
    margin: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column !important;
    scroll-behavior: smooth;
      
  }

   app-footer{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 10;
  }


  app-socials{
    display: none;
  }


  .next-section{
    display: none;
  }


  ::-webkit-scrollbar {
    width: 10px;
    display: none;
  }

  ::-webkit-scrollbar-track {
    background: #222;
    border-radius: 10px;
    display: none;
  }

  ::-webkit-scrollbar-thumb {
    background: #ccff00;
    border-radius: 10px;
    display: none;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #e6ff4d;
    display: none;
  }
  
}


@media(min-width: 965px) and (max-width: 1500px){
  .main-content{
    margin-left: 50px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    width: calc(100vw - 50px);
    height: 100vh;

    .footer{
      background-color: $primary;
    }

  }

   ::-webkit-scrollbar {
    width: 10px;
    display: none;
  }

  ::-webkit-scrollbar-track {
    background: #222;
    border-radius: 10px;
    display: none;
  }

  ::-webkit-scrollbar-thumb {
    background: #ccff00;
    border-radius: 10px;
    display: none;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #e6ff4d;
    display: none;
  }
}


@media(min-width: 1501px){
  .main-content{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-start;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    overscroll-behavior-x: contain;
    align-items: stretch;
    width: 100vw;
    height: 100vh;
    >*{
      width: 100vw;
      height: 100vh;
      scroll-snap-align: start;
    }

  }

  app-footer{
    display: none !important;
  }

  ::-webkit-scrollbar {
    width: 10px;
    display: none;
  }

  ::-webkit-scrollbar-track {
    background: #222;
    border-radius: 10px;
    display: none;
  }

  ::-webkit-scrollbar-thumb {
    background: #ccff00;
    border-radius: 10px;
    display: none;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #e6ff4d;
    display: none;
  }

}