@import '../../../scss/_color.scss';
@import '../../../scss/_mixins.scss';
  
.main-content{
  position: relative;
  @include displayFlex($jc:center, $fd:column);
  margin-left: 130px;
  gap: 20px;
  scroll-behavior: smooth;
  >*{
      width: 100%;                
  }
}



@media (max-width: 965px) {

  .main-content{
    margin-left: 0px;
    padding: 0;
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: column !important;
    scroll-behavior: smooth;
    >*{
        width: 100%;                
    }
      
  }

  app-socials{
    display: none;
  }

  app-footer{
    position: absolute;
    top: 109%;
    left: 0;
    right: 0;
    z-index: 1000;
  }

  .next-section{
    display: none;
  }
  
}

@media (max-width: 480px) {
    .title{
        margin-left: 10px;
        z-index: 1;
        display: inline-block;
        width: 100%;
        height: auto;
        color: $primary;
        font-weight: 700;
        font-size: 1.5rem;
        transform: rotate(-90deg);
        transform-origin: left top;
        color: transparent;
        line-height: 1;
        -webkit-text-stroke: 1px $primary;
    }
}

@media(min-width: 965px) and (max-width: 1500px){
  body{
    overflow: hidden;
  }
  .main-content{
    margin-left: 0px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    width: 100vw;
    height: 100vh;

    .footer{
      background-color: $primary;
    }

  }

   ::-webkit-scrollbar {
    width: 10px;
    display: none;
  }

  ::-webkit-scrollbar-track {
    background: #222;
    border-radius: 10px;
    display: none;
  }

  ::-webkit-scrollbar-thumb {
    background: #ccff00;
    border-radius: 10px;
    display: none;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #e6ff4d;
    display: none;
  }
}


@media(min-width: 1501px){
  .main-content{
    margin-left: 80px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-start;
    overflow-x: scroll;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    width: 100vw;
    height: 100vh;
    >*{
      flex: 0 0 100vw;
      height: 100vh;
    }

  }

  app-footer{
    display: none !important;
  }

  ::-webkit-scrollbar {
    width: 10px;
    display: none;
  }

  ::-webkit-scrollbar-track {
    background: #222;
    border-radius: 10px;
    display: none;
  }

  ::-webkit-scrollbar-thumb {
    background: #ccff00;
    border-radius: 10px;
    display: none;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #e6ff4d;
    display: none;
  }

}