@import '../../../scss/_color.scss';
@import '../../../scss/_mixins.scss';
.legal-notice{
    padding: 2rem;
    margin: 0 auto;
    h3{
        margin-bottom: 1rem;
        font-size: 20px;
        font-weight: 600;
        color: $primary;
    }
}