@import '../../../scss/_color.scss';
@import '../../../scss/_mixins.scss';
.legal-notice{
    // padding: 2rem;
    // margin: 0 auto;
    margin-left: 130px;
    color: $white;
    h3{
        // margin-bottom: 1rem;
        font-size: 24px;
        font-weight: 600;
        color: $primary;
    }

    .mail-link{
       color: $white;
    }
}
@media (max-width: 1080px){
    
}


@media (max-width: 800px) {
    .legal-notice{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 0;
        margin: 0;
        padding-top: 120px !important;
        
        .left, .right{
            padding: 10px;
        }

        ul{
            margin-left: 20px;
            li{
                margin-left: 10px;
            }
        }

        h3{
            margin: 10px 10px 10px 0;
        }

        p{
            margin-left: 5px;
        }

       
    } 
    .footer{
        width: 100% !important;
        height: 100px !important;
        background-color: $primary;
    }
}
