@import '../../../scss/_color.scss';
@import '../../../scss/_mixins.scss';
.legal-notice{
    margin-left: 130px !important;
    color: $white;
    height: 100vh;
    max-height: 1200px !important;
    scroll-behavior: smooth;
    h3{
        font-size: 24px;
        font-weight: 600;
        color: $primary;
    }
    
    .mail-link{
        color: $white;
    }
}
@media (min-width: 801px){
    .legal-notice{
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow-x: auto;
        overflow-y: hidden;

        
        .title{
            @include title();
            top: 40%;
            left: 0;
        }

        .left{
            position: relative;
            flex: 0 0 calc(100vw - 200px);
            height: 100vh !important;
            padding: 10px;
        }
        
        .left{
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            margin-left: 120px;
            padding-right: 350px;
        }

        .right{
            flex: 0 0 calc(100vw - 130px);
            position: relative;
            height: 100vh !important;
            // margin-left: - 120px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            padding-right: 10px;
            
            .next-notice-right{
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;
                padding-right: 10px;
            }

            .next-notice-content{
                width: calc(100% - 250px);
            }

        }

        .next-section{
            position: absolute;
            top: 50%;
            right: 10%;
        }

    }

    .contact-info{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-evenly;
        gap: 50px;
        width: 300px;

        p, h4{
            text-align: end;
        }
        .link{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            gap: 20px;
            p{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 10px;
                a{
                    text-decoration: none;
                    color: $white;
                }

            }
        }

        .bottom{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 20px;
            p{
                text-align: end;
                a{
                    text-align: end;
                    text-decoration: none;
                    color:$white;
                }
            }
        }
    }

    
}


@media (max-width: 800px) {
    .legal-notice{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 0 !important;
        margin: 0;
        margin-top: 120px !important;

        .title{
            @include titleMobile();
            width: 100%;
            text-align: start !important;
        }
        
        .left, .right{
            padding: 10px;
            flex: 0 0 100vw;
        }

        ul{
            margin-left: 20px;
            li{
                margin-left: 10px;
            }
        }

        h3{
            margin: 10px 10px 10px 0;
        }

        p{
            margin-left: 5px;
        }

       
    } 
    .footer{
        width: 100% !important;
        height: 100px !important;
        background-color: $primary;
    }

    .contact-info{
        display: none !important;
    }
}


::-webkit-scrollbar {
    width: 10px;
    display: none;
  }

  ::-webkit-scrollbar-track {
    background: #222;
    border-radius: 10px;
    display: none;
  }

  ::-webkit-scrollbar-thumb {
    background: #ccff00;
    border-radius: 10px;
    display: none;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #e6ff4d;
    display: none;
  }
