@import '../../../scss/_color.scss';
@import '../../../scss/_mixins.scss';
.legal-notice{
    margin-left: 150px !important;
    color: $white;
    height: 100vh;
    scroll-behavior: smooth;
    h3{
        font-size: 24px;
        font-weight: 600;
        color: $primary;
    }
    
    .mail-link{
        color: $white;
    }
}

@media (min-width: 1501px){
    .legal-notice{
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow-x: auto;
        overflow-y: hidden;
        .title{
            @include title();
            top: 40%;
            left: 0;
        }

        .left{
            position: relative;

            padding: 10px;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            margin-left: 120px;
            padding-right: 350px;
        }

        .end-legal{
            display: flex;
            position: absolute;
            right: 100px;
            .next-notice-right{
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;
                padding-right: 10px;
            } 
        }
        
        .next-section{
            position: absolute;
            top: 50%;
            right: 10%;
        }

        .footer{
            position: absolute;
            right: 0;
            bottom: 0;
            top: 0;
        }

    }

   .contact-info{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-evenly;
        gap: 50px;
        width: 300px;
        margin-right: 10px;

        p, h4{
            text-align: end;
        }
        .link{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            gap: 20px;
            p{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 10px;
                a{
                    text-decoration: none;
                    color: $white;
                    &:hover {
                        color: $primary;
                    }
                }

            }
        }

        .bottom{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 20px;
            p{
                text-align: end;
                a{
                    text-align: end;
                    text-decoration: none;
                    color:$white;
                    cursor: pointer;
                    &:hover {
                        color: $primary;
                    }
                }
            }
        }
    } 
}


@media (min-width: 965px) and (max-width: 1500px) {
    .footer{
        display: none !important;
    }

    .sosial-links{
        display: block !important;
    }

    .end-legal{
        position: absolute;
        bottom: 10px;
    }
    .contact-info{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-start;
        gap: 50px;
        width: 100%;
        margin-right: 10px;
        padding: 10px;

        p, h4{
            text-align: start;
        }
        .link{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 20px;
            p{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                gap: 10px;
                a{
                    text-decoration: none;
                    color: $white;
                    &:hover{
                        color: $primary;
                    }
                }

            }
        }

        .up-start{
            display: none;
        }

        .bottom{
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            gap: 20px;
            p{
                text-align: end;
                a{
                    text-align: end;
                    text-decoration: none;
                    color:$white;
                    cursor: pointer;
                    &:hover{
                        color: $primary;
                    }

                }
            }
        }
    }
}


@media (max-width: 965px) {
    .legal-notice{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 0 !important;
        margin: 0;
        padding-top: 100px !important;
        .title{
            @include titleMobile();
            width: 100%;
            text-align: start !important;
        }
        
        .left, .right{
            
            flex: 0 0 100vw;
        }

        ul{
            margin-left: 20px;
            li{
                margin-left: 10px;
            }
        }

        h3{
            padding: 10px;
            margin: 10px 10px 10px 0;
        }

        p{
            padding: 10px;
            margin-left: 5px;
        }

       
    } 
    .footer{
        width: 100vw !important;
        height: 100px !important;
        background-color: $primary;
    }

    .social-links{
        display: none !important;
    }

    .contact-info{
        display: none !important;
    }
}


::-webkit-scrollbar {
    width: 10px;
    display: none;
  }

  ::-webkit-scrollbar-track {
    background: #222;
    border-radius: 10px;
    display: none;
  }

  ::-webkit-scrollbar-thumb {
    background: #ccff00;
    border-radius: 10px;
    display: none;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #e6ff4d;
    display: none;
  }
