@import '../../../scss/_color.scss';
@import '../../../scss/_mixins.scss';

.skills{
    position: relative;
    margin-left: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    font-size: 2rem;
    height: 100%;

    .title{
        @include title;
        bottom: 6%;
            
    }

    .skills-content{
        position: absolute;
        max-width: 90%;
        @include displayFlex($jc:start, $fd:column);
        color: $white;
        left: 100px;
        bottom: 0;

        p{
            margin-bottom: 30px;
        }

        .technologies{
            @include displayFlex($jc:start, $fd:row);
            flex-wrap: wrap;
            gap: 10px;
            p{
                width: calc(100%/7);
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: 1rem !important;
                gap: 8px;
                text-align: center;
                img{
                    width: 40px;
                    height: 50px;
                }
            }
            
        }
    }

    .next-section{
        position: absolute;
        top: 10%;
        right: 5%;
    }
}