<div class="skills" id="skills">
    <div class="title">
        <h2>Meine Skills Set</h2>
    </div>
    <div class="skills-content">
        <p class="p-skill">
            Ich spezialisere mich auf die erstellung von Benuzterzentrierte, responsiver und performanter Fontends. <br>
            Mein Fokus liegt zurzeit auf JavaScript, HTML, CSS und die Framework Angular, React, Bootstrap und TailwindCSS
        </p>
        <div class="technologies">
            <p>
                <img src="https://rucel-tsafack.com/assets_icons/angular.png" alt="angular">
                Angular
            </p>
            <p>
                <img src="https://rucel-tsafack.com/assets_icons/typescript.png" alt="typescript">
                Typescript
            </p>
            <p>
                <img src="https://rucel-tsafack.com/assets_icons/javascript.png" alt="javascript">
                JavaScript
            </p>
            <p>
                <img src="https://rucel-tsafack.com/assets_icons/html.png" alt="html">
                HTML
            </p>
            <p>
                <img src="https://rucel-tsafack.com/assets_icons/css.png" alt="css">
                CSS
            </p>
            <p>
                <img src="https://rucel-tsafack.com/assets_icons/api.png" alt="api">
                REST-API
            </p>
            
            <p>
                <img src="https://rucel-tsafack.com/assets_icons/firebase.png" alt="firebase">
                Firebase
            </p>
            <p>
                <img src="https://rucel-tsafack.com/assets_icons/git.png" alt="git">
                Git
            </p>
            <p>
                <img src="https://rucel-tsafack.com/assets_icons/scrum.png" alt="scrum">
                Scrum
            </p>
            <p>
                <img src="https://rucel-tsafack.com/assets_icons/material_design.png" alt="material design">
                Material Design
            </p>
            <p>
                <img src="https://rucel-tsafack.com/assets_icons/challenge_me.png" alt="challenge me">
                Challenge me 
            </p>
        </div>
        <p class="motivate">
            Mein engagement zeigt sich auch in meinem erfolreichen Erweb fachkundiger Deutschkenntnisse in kurzer Zeit. 
            Ein Beweis für meine hohe Lernbereitschaft und Anpassungsfähikeit.
        </p>
        <div class="link">
            <a href="#contact">Lass uns reden</a>
        </div>
    </div>
    <app-button class="next-section" navigateTo="#work"> <img src="https://rucel-tsafack.com/assets_icons/arrow_right.png" alt="" srcset=""> </app-button>
</div>
