<div class="skills" id="skills">
    <div class="title">
        <h2>My Skills Set</h2>
    </div>
    <div class="skills-content">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam vero quas provident reiciendis reprehenderit pariatur saepe fugit neque sapiente ratione possimus minima quam, amet totam dignissimos! Pariatur autem necessitatibus ducimus!</p>
        <div class="technologies">
            <p>
                <img src="https://rucel-tsafack.com/assets_icons/angular.png" alt="angular">
                Angular
            </p>
            <p>
                <img src="https://rucel-tsafack.com/assets_icons/typescript.png" alt="typescript">
                Typescript
            </p>
            <p>
                <img src="https://rucel-tsafack.com/assets_icons/javascript.png" alt="javascript">
                JavaScript
            </p>
            <p>
                <img src="https://rucel-tsafack.com/assets_icons/html.png" alt="html">
                HTML
            </p>
            <p>
                <img src="https://rucel-tsafack.com/assets_icons/css.png" alt="css">
                CSS
            </p>
            <p>
                <img src="https://rucel-tsafack.com/assets_icons/api.png" alt="api">
                REST-API
            </p>
            
            <p>
                <img src="https://rucel-tsafack.com/assets_icons/firebase.png" alt="firebase">
                Firebase
            </p>
            <p>
                <img src="https://rucel-tsafack.com/assets_icons/git.png" alt="git">
                Git
            </p>
            <p>
                <img src="https://rucel-tsafack.com/assets_icons/scrum.png" alt="scrum">
                Scrum
            </p>
            <p>
                <img src="https://rucel-tsafack.com/assets_icons/material_design.png" alt="material design">
                Material Design
            </p>
            <p>
                <img src="https://rucel-tsafack.com/assets_icons/challenge_me.png" alt="challenge me">
                Challenge me 
            </p>
        </div>
        <p class="motivate">
            I am always happy to learn new technologies,just tell me what you need.
        </p>
        <div class="link">
            <a href="#contact">Let's talk</a>
        </div>
    </div>
    <app-button class="next-section" navigateTo="#work"> <img src="https://rucel-tsafack.com/assets_icons/arrow_right.png" alt="" srcset=""> </app-button>
</div>
