@import 'scss/_color.scss';
@import 'scss/_mixins.scss';
@font-face {
  font-display: swap; 
  font-family: 'Quantico';
  font-style: normal;
  font-weight: 400;
  src: url('../public/fonts/quantico-v19-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Quantico';
  font-style: normal;
  font-weight: 700;
  src: url('../public/fonts/quantico-v19-latin-700.woff2') format('woff2'); 
}

*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: 'Quantico', Arial, Helvetica, sans-serif;
}

body{
  @include displayFlex($jc:center, $fd:column);
  background-color: $bg_color;
  color: $secondary;
}



@media (max-width: 965px) {
  body{
    height: auto;
    overflow-y: auto;
    display: flex;
    align-items: center;
    flex-direction: column !important;
  }

  .next-section{
    display: none;
  }

  ::-webkit-scrollbar {
    width: 4px;
    height: 5px;
  }

  ::-webkit-scrollbar-track {
    background: #222;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #ccff00;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #e6ff4d;
  }
  
}



