@import './scss/_color.scss';
@import './scss/_mixins.scss';
@font-face {
  font-display: swap; 
  font-family: 'Quantico';
  font-style: normal;
  font-weight: 400;
  src: url('../public/fonts/quantico-v19-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Quantico';
  font-style: normal;
  font-weight: 700;
  src: url('../public/fonts/quantico-v19-latin-700.woff2') format('woff2'); 
}

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Quantico', Arial, Helvetica, sans-serif;
}

body{
  @include displayFlex;
    // position: relative;
    background-color: $bg_color;
    color: $secondary;
    height: 100vh;
    max-height: 1200px;
    width: max-content;
    overflow-x: auto;
    overflow-y: hidden;
    border-bottom: 1px solid whitesmoke;
}

::-webkit-scrollbar {
  height: 0px;
  width: 0px;
    display: none;
}

::-webkit-scrollbar-thumb {
  width: 0;
  height: 0;
  display: none !important;
}

::-webkit-scrollbar-track {
    width: 0;
    height: 0;
}