@import './app/scss/_color.scss';
@font-face {
  font-display: swap; 
  font-family: 'Quantico';
  font-style: normal;
  font-weight: 400;
  src: url('../public/fonts/quantico-v19-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Quantico';
  font-style: normal;
  font-weight: 700;
  src: url('../public/fonts/quantico-v19-latin-700.woff2') format('woff2'); 
}

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Quantico', Arial, Helvetica, sans-serif;
}

body{
    position: relative;
}