@mixin displayFlex($jc:center, $fd:column){
    display: flex;
    justify-content: $jc;
    flex-direction: $fd;
}

@mixin title(){
    position: absolute;
    margin-left: 30px;
    z-index: 1;
    display: inline-block;
    width: 100%;
    height: auto;
    color: $primary;
    font-weight: 700;
    font-size: 2.5rem;
    transform: rotate(-90deg);
    transform-origin: left top;
    color: transparent;
    line-height: 1;
    -webkit-text-stroke: 1px $primary;
}

@mixin titleMobile(){
    z-index: 1;
    display: inline-block;
    height: auto;
    color: $primary;
    font-weight: 700;
    font-size: 2.5rem;
    transform: rotate(0deg);
    color: transparent;
    line-height: 1;
    -webkit-text-stroke: 1px $primary;
    padding: 30px 0;
}


@mixin marginLeft($val:100px){
    margin-left: $val;
}